
#wrapper {
  width: 1200px;
  height: 700px;
  background-color: rgb(252, 252, 252);
  margin: 0 auto;
}

#header{
  width: 1200px;
  height: 150px;
  background-color: blueviolet;
  position: relative;
}
.logo{
 border-radius:150px; 
 padding: 20px;
 z-index: 2;

}
#logo h1{
  font-family: arial;
  font-weight: bold;
  color: white;
  font-size: 25px;
  padding-top:0px ;
  padding-left: 10px;
}
#menu{
  width: 1200px;
  height: 60px;
  background-color:rgb(1, 255, 43) ;
}
#main{
  width: 1200px;
  height: 390px;
  background-color: pink;
}
.article{
  width: 70%;
  height: 390px;
  background-color: yellow;
  float: left;
}
.aside{
  width: 30%;
  height: 390px;
  background-color: red;
  float: left;
}

.footer{
  width: 1200px;
  height: 100px;
  background-color: blue;
}
