.table, th, td  {
    border: none;
    border-collapse: collapse;
 }
.td, th {
    padding: 5px;
}
.a1 {
    border-radius: 10px;
    border: none;
    background-color: rgb(236, 222, 240);
    color: rgb(179, 78, 209);
}
.a2 {
    border-radius: 10px;
    border: none;
    background-color: rgb(204, 236, 210);
    color: rgb(74, 201, 49);
}
.a3 {
    border-radius: 10px;
    border: none;
    background-color: rgb(204, 236, 210);
    color: rgb(74, 201, 49);
}
.h1 {
    border-radius: 10px;
    border: none;
    background-color: rgb(195, 233, 195);
    color: green;
}
.h2 {
    border-radius: 10px;
    border: none;
    background-color: rgb(200, 202, 200);
    color: rgb(0, 0, 0);
}
.th{
    text-align: left;
}
.img {
    border-radius: 150px;
    width: 50px;
}
.color {
    background-color: rgb(217, 231, 231);
}